ansible==5.2.0
ansible-core==2.12.1
anytree==2.8.0
appdirs==1.4.4
apsw==3.36.0.post1
asn1crypto==1.4.0
asttokens==2.0.5
backcall==0.2.0
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.10.0
black==21.12b0
boto3==1.20.38
CacheControl==0.12.6
cchardet==2.1.7
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
css-parser==1.0.6
cssselect==1.1.0
decorator==5.1.1
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
docutils==0.16
executing==0.8.2
feedparser==6.0.2
filelock==3.4.0
Flask==2.0.2
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
